html {
  background-color: #111111;
}

* {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

/* All sections styles */

.section {
  display: flex;
  justify-content: center;
  padding: 100px 40px;
}

.section-container {
  max-width: 1024px;
  width: 100%;
}

/* Fonts color */

.text {
  color: #fefefe;
}

/* Header styles */

header {
  display: flex;
  justify-content: center;
  padding: 100px 40px;
}

/* Navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.logo {
  background-color: #e31e3c;
  height: 32px;
  width: 32px;
}

.navbar-link {
  display: flex;
  font-size: 18px;
  text-decoration: none;
}

.navbar-link-text {
  margin-right: 10px;
}

.main-title {
  font-family: "Libre Baskerville", serif;
  font-size: 100px;
  line-height: 1.1;
}

.main-image-container {
  display: flex;
  justify-content: center;
}

.main-image {
  max-width: 100%;
}

/* About section styles */

.about-main-text {
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 60px;
}

.about-description {
  font-size: 30px;
  line-height: 1.8;
}

/* Clients section styles */

.clients-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-section-title {
  color: #858585;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 60px;
}

.client-list-container {
  display: flex;
  flex-wrap: wrap;
}

.client-list-one {
  margin-right: 40px;
}

.client-list-two {
  margin-left: 40px;
}

.client-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  list-style-type: none;
  margin-bottom: 20px;
}

/* Contact section styles */

.contact-section-container {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.email-container {
  font-size: 50px;
  font-weight: 700;
}

.email-link {
  color: #e31e3c;
  text-decoration: none;
}

.icons-and-venues-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
}

.social-media-item {
  list-style-type: none;
  margin: 10px;
}

.social-media-item i {
  color: #fefefe;
  font-size: 20px;
}

.social-media-item span {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: 500;
}

.venues-list {
  display: flex;
}

.venue {
  color: #858585;
  font-weight: 500;
  list-style-type: none;
  margin: 20px 20px 0 20px;
}

/* Footer section styles */

.footer-section-container {
  background-image: url("../images/footer-background.jpg");
  background-position: center;
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  padding: 30px 60px;
}

.footer-section-container a {
  font-size: 18px;
  text-decoration: none;
}

.footer-link {
  display: flex;
}

.footer-link-text {
  margin-right: 10px;
}

/* Responsive styles */

@media screen and (max-width: 830px) {
  .contact-section-container {
    align-items: stretch;
    flex-direction: column;
  }
  .email-container {
    margin-bottom: 20px;
  }
  .icons-and-venues-container {
    align-items: stretch;
  }
  .social-media-item {
    margin: 10px 20px 10px 0;
  }
  .venue {
    margin: 20px 20px 0 0;
  }
}

@media screen and (max-width: 705px) {
  .main-title {
    font-size: 80px;
  }
}

@media screen and (max-width: 660px) {
  .client-list-two {
    margin-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .main-title {
    font-size: 60px;
  }
  .about-main-text {
    font-size: 30px;
    line-height: 1.6;
  }
  .about-description {
    font-size: 20px;
    line-height: 2;
  }
  .client-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 430px) {
  .email-container {
    font-size: 40px;
  }
  .footer-section-container {
    padding: 30px 40px;
  }
}
