* {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

/* All sections styles */

.section {
  display: flex;
  justify-content: center;
  padding: 100px 40px;
}

.section-container {
  max-width: 1024px;
  width: 100%;
}

/* Header styles */

header {
  display: flex;
  justify-content: center;
  padding: 100px 40px;
}

/* Navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.logo {
  background-color: #e31e3c;
  height: 32px;
  width: 32px;
}

.navbar-link {
  display: flex;
  font-size: 20px;
  text-decoration: none;
}

.navbar-link-text {
  margin-right: 10px;
}

.main-title {
  font-family: "Libre Baskerville", serif;
  font-size: 100px;
  line-height: 1.1;
}

.main-image-container {
  display: flex;
  justify-content: center;
}

.main-image {
  max-width: 100%;
}

/* About section styles */

.about-main-text {
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.about-description {
  font-size: 30px;
  line-height: 1.8;
}

/* Clients section styles */

.clients-section-container {
  display: flex;
  justify-content: space-between;
}

.clients-section-title {
  color: #858585;
  font-size: 18px;
  font-weight: 500;
}

.client-list-container {
  display: flex;
}

.client-list-one {
  margin-right: 40px;
}

.client-list-two {
  margin-left: 40px;
}

.client-name {
  font-size: 20px;
  font-weight: 500;
  list-style-type: none;
  margin-bottom: 30px;
}

/* Contact section styles */

.contact-section-container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.email-container {
  font-size: 50px;
  font-weight: 700;
}

.email-link {
  color: #e31e3c;
  text-decoration: none;
}

.icons-and-venues-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
}

.social-media-item {
  list-style-type: none;
  margin: 10px;
}

.social-media-item i {
  font-size: 20px;
}

.social-media-item span {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: 500;
}

.venues-list {
  display: flex;
}

.venue {
  color: #858585;
  font-weight: 500;
  list-style-type: none;
  margin: 20px 20px 0 20px;
}

/* Footer section styles */

.footer-section-container {
  background-image: url("../images/footer-background.jpg");
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  padding: 30px 60px;
}

.footer-section-container a {
  color: #fefefe;
  font-size: 20px;
  text-decoration: none;
}

.footer-link {
  display: flex;
}

.footer-link-text {
  margin-right: 10px;
}
